@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.boxheight {
  height: 92.5%;
}

body, label {
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #2F5567;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #2F5567;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: white;
}
