@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.boxheight {
  height: 92.5%;
}

body, label {
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
